MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=http://minio:9000
MINIO_SERVER_URL=http://127.0.0.1:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=user-photos
MINIO_USE_SSL=false

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_HOST_AUTOUPLOAD=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres

DANCE_PHOTOS_FOLDER_PATH=static/autouploaddata/data/photos/
MUSIC_FOLDER_PATH=static/autouploaddata/data/music/