version: '3.8'

services:
  minio:
    image: minio/minio
    container_name: minio_local
    ports:
      - "9000:9000" # API порт (для Go кода)
      - "9001:9001" # Консоль (для браузера)
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - ./minio_data:/data
    command: server /data --console-address ":9001"